.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px;

}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: baseline;
}

.left-nav {

  > ul {
    > li {
      font-family: "nyt-franklin", Arial, Helvetica, sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      padding: 7px 9px;
      font-weight: 500;

    }
  }

  span {
    padding: 6px;
  }
}

.right-nav  {

  > ul {

    > li {
      margin-right: 4px;
      margin-left: 4px;
      padding-bottom: 12px;
    }

    > li:last-of-type {
      padding: 4px;
    }
  }
  
  i {
      font-size: 15px;
      color: #333
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
