.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 0px;

}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      font-family: "nyt-franklin", Arial, Helvetica, sans-serif;
      font-size: 11px;
      text-transform: uppercase;
      padding: 7px 9px;
      font-weight: 500;

    }
  }

  span {
    padding: 6px;
  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
